	//buttons
	.btn {
		font-weight: bold;
		margin: 20px 5px 0 5px;
		min-width: 100px;

		@media screen and (max-width: $screen-sm) {
			width: 100%;
			margin-top: 10px;
		}

		&-orange {
			color: white;
			background-color: $orange-base;

			&:hover {
				background-color: darken( $orange-base ,20);
			}
		}

		&-black {
			background-color: $black-base;
			color: white;

			&:hover, &:active {
				color: white;
				background-color: lighten( $black-base ,20);
			}
		}

		&-green {
			color: white;
			background-color: $black-base;

			&:hover {
				background-color: lighten( $black-base ,20);
			}
		}

		&-red {
			color: white;
			background-color: $red-base;

			&:hover {
				background-color: lighten( $red-base ,20);
			}
		}
	}

	//loaders and spinners

	.loader-overlay {
		opacity: 0.8;
		top: 0;
		left: 0;
		height: 100%;
		position: fixed;
		width: 100%;
		z-index: 10;
		animation: color 3s infinite alternate ease-in-out;
	}

	.spinner {
		border: 8px solid $orange-base;
		border-right-color: transparent;
		border-radius: 50%;
		height: 30px;
		left: 50%;
		margin: -23px 0 0 -23px;
		position: absolute;
		top: 50%;
		width: 30px;
		animation: spinner .7s infinite ease;
	}


	//animations
	@keyframes spinner {
		0% { transform:rotate(0deg); }
		100% { transform:rotate(360deg); }
	}


	@keyframes load {
		0% { left: 0; height: 30px; width: 15px }
		50% { height: 8px; width: 40px }
		100% { left: 235px; height: 30px; width: 15px}
	}

	@keyframes color {
		0% { background-color: white; }
		100% { background-color: gray;}
	}