
$panel_padding: 260px;

//colors vars
$color-grey--base:		   #bdbdbd;
$color-grey--dark:		   #827d8e;
$color-grey--light:        #A9A9A9;
$color-grey--extra-light:  #ffffff;
$color-grey-blue-light:    #828c94;
$color-blue--base:         #2c9fc8;
$color-blue--light:        #e3f3fd;
$color-white-base: 			white;
$color-black--base:			#000;
$color-grey--base:			#bdbdbd;
$color-grey--dark:			#827d8e;
$color-grey--light:			#A9A9A9;
$color-grey-blue-light:		#828c94;
$color-light-grey--base:	#eee;
$color-white--base:			#FFF;
$color-medium-grey--base:	#b7b7b7;
$color-light-blue--base:	#f7f7f7;
$color-orange-medium:		#ff5c46;
$color-red--base:			#f00446;
$color-blue--light:			#e3f3fd;
$color-green--base: 		#37ab52;
//sizes
$header-height: 150px;

/* SCREEN SIZES
=============================================*/
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;
