@import "~_config/_vars.scss";

.base-page {
	display:flex;

	.base-page__menu {
		max-width: 250px;
	}

	.base-page__content {
		width: 100%;
		min-height: calc(100vh - 70px);
		background-image: url('/images/background.png');
		background-repeat: no-repeat;
		background-size: cover;

		.base-page__content__header {
			height: 50px;
			background-color: $green-base;
			background-color: $black-base;

			.header__title {
				line-height: 50px;
				margin-left: 10px;

				p {
					font-size: 20px;
					color: white;
					font-weight: bold;
				}
			}
		}
	}
}
