@import '../config/vars.scss';
.single-post {
	&__content {
		display: flex;

		@import "~_config/_vars.scss";
	.post {
		padding: 20px 0 40px 0;
		.post__content {
			&__image {
				overflow: hidden;
				.image {
					width: 100%;
					background-repeat: no-repeat;
					background-size: cover;
					background-position: center center;
					height: 400px;
				}
			}
			.content__controller {
				display: flex;
				height: 25px;
				line-height: 25px;
				justify-content: space-between;
				padding: 0 10px;

				.controller__date {

				}
				.controller__see-more {
					color: black;
				}
			}

			&__text {
				flex:1;
				padding: 0 10px;

				.text-previous {
					overflow: hidden;
				}

				.title {
					font-size: 2rem;
					color: black;
					@media screen and(max-width: $screen-md) { 
						font-size: 1.3rem;
					}
					@media screen and(max-width: $screen-sm) { 
						font-size: 1rem;
					}

				}

				.sub-title {
					font-size: 1.3rem;
					font-weight: bold;
					@media screen and(max-width: $screen-md) { 
						font-size: 1.2rem;
					}
					@media screen and(max-width: $screen-sm) { 
						font-size: 1rem;
					}
				}
			}
		}
	}

	}
}