@import '../config/vars.scss';

header {
	display: flex;
	padding: 0 10px 0 10px;
	height: 100px;
	background: $color-grey--extra-light;

	.header {

		&__logo {
			flex: 1;
			display: flex;
			justify-content: flex-start;
			align-items: center;

			img {
				width: 250px;
				height: 100px;
			}
		}
		
		&__title {
			display: flex;
			flex:2;
			font-size: 3rem;
            font-family: 'Dancing Script', cursive;
			height: 100%;
			justify-content: center;
			align-items: center;

			@media screen and(max-width: $screen-sm) {
				display: none;
			}
		}

		&__contact {
			display: flex;
			flex:1;
			justify-content: flex-end;
			align-items: center;
		}
	}
}