# Logs
logs
*.log
npm-debug.log*

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

#env and configures
config/external.js

#public path
dist/js

#npm dependencies
node_modules

.env