$panel_padding: 260px;

//colors vars
$color-grey--base: #bdbdbd;
$color-grey--dark: #827d8e;
$color-grey--light: #A9A9A9;

$color-grey-blue-light: #828c94;

$color-blue--base: #2c9fc8;
$color-blue--light: #e3f3fd;

$color-white-base: white;

//sizes
$header-height: 150px;

/* SCREEN SIZES
=============================================*/
$screen-mc: 480px;
$screen-xs: 540px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-mg: 1050px;
$screen-lg: 1200px;
$screen-xg: 1400px;
