$panel_padding: 260px;

//colors vars
$color-grey--base: #bdbdbd;
$color-grey--dark: #827d8e;
$color-grey--light: #A9A9A9;

$color-grey-blue-light: #828c94;

$color-blue--base: #2c9fc8;
$color-blue--light: #e3f3fd;


$color-white-base: white;

$header-height: 150px;
