<header>
	<div class="header__logo">
		<img src="/images/Logo.png" alt="">
	</div>
	<h5 class="header__title">Igreja Adventista da Promessa</h5>
	<div class="header__contact">
		<a href="/contact">Fale conosco</a>
	</div>
</header>