<div :class="['menu', menuActive? 'menu--active': '']">
	<div class="menu__logo">
		<logo></logo>
	</div>
	<div class="items">
		<div class="item">
			<a :href="'/dashboard?userId='+user.uid" class="fa fa-home">Inicio</a>
		</div>
		<div v-if=" user.teacher " class="item">
			<a href="/teams" class="fa fa-users">Turmas</a>
		</div>
		{#<div v-if=" user.teacher " class="item">#}
			{#<a class="fa fa-address-card">Alunos</a>#}
		{#</div>#}
		<div v-if=" !user.teacher " class="item">
			<a href="/classroom" class="fa fa-pencil-square-o">Sala de aula</a>
		</div>
		<div v-if=" user.teacher " class="item">
			<a href="/course/list" class="fa fa-mortar-board">Cursos</a>
		</div>
		<div v-if=" user.teacher " class="item">
			<a href="/course/report" class="fa fa-tasks">Detalhes dos cursos</a>
		</div>
		<div v-if=" user.teacher " class="item">
			<a href="/course/form" class="fa fa-plus">Criar curso</a>
		</div>
		<div class="item">
			<a href="/users" class="fa fa-cog">Alunos</a>
		</div>
	</div>
</div>