<div class="menu">
	<div class="menu__logo">
		<logo></logo>
	</div>
	<div class="items">
		<div class="item">
			<a href="/dashboard" class="fa fa-home">Inicio</a>
		</div>
		<div class="item">
			<a class="fa fa-users">Turmas</a>
		</div>
		<div class="item">
			<a class="fa fa-address-card">Alunos</a>
		</div>
		<div class="item">
			<a class="fa fa-pencil-square-o">Aulas</a>
		</div>
		<div class="item">
			<a href="/course/list" class="fa fa-mortar-board">Cursos</a>
		</div>
		<div class="item">
			<a href="/course/form" class="fa fa-mortar-board">Criar curso</a>
		</div>
		<div class="item">
			<a class="fa fa-cog">Configurações</a>
		</div>
	</div>
</div>