<div class="menu">
		<div class="items">
			<div class="item">
				<a class="fa fa-home">Inicio</a>
			</div>
			<div class="item">
				<a class="fa fa-users">Turmas</a>
			</div>
			<div class="item">
				<a class="fa fa-address-card">Alunos</a>
			</div>
			<div class="item">
				<a class="fa fa-pencil-square-o">Aulas</a>
			</div>
			<div class="item">
				<a class="fa fa-mortar-board">Cursos</a>
			</div>
			<div class="item">
				<a class="fa fa-mortar-board">Criar curso</a>
			</div>
			<div class="item">
				<a class="fa fa-cog">Configurações</a>
			</div>
			<div class="item">
				<a class="fa fa-user">Meu Perfil</a>
			</div>
			<div class="item">
				<a class="fa fa-lock">Segurança</a>
			</div>
			<div class="item">
				<a class="fa fa-power-off">Sair</a>
			</div>
		</div>
	</div>