<nav>
    <div class="nav__content">
		<div class="items">
			<a class="item" href="/">Posts</a>
			<a class="item" href="/boletim">Boletim</a>
			<a class="item" href="/radio">Radio</a>
			<a class="item" href="/Pequenos Grupos">Pequenos Grupos</a>
		</div>
	</div>	
</nav>