{% extends 'index.njk' %}

{% block title %}Status do usuário{% endblock %}

{% block content %}
	<account></account>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
				<div class="header__title">
					<p>Dados do usuário: {{ user.name }}<p>
				</div>
			</div>
			<user-stats></user-stats>
		</div>
	</div>

{% endblock %}
