{% extends 'index.njk' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container 404-page">
	<div class="row">
	<div class="error-template" style="width: 300px; margin: 100px auto;">
		<h1>Oops!</h1>
		<h2>404 Not Found</h2>
		<div class="error-details">
			A página buscada não existe!<br>
		</div>
		<div class="error-actions">
		<a href="/" class="btn btn-primary"><i class="icon-home icon-white"></i> Ir para home </a>
		</div>
	</div>
	</div>
</div>
{% endblock %}
