{% extends 'index.njk' %}

{% block title %}Sala de Aula{% endblock %}

{% block content %}
	<account></account> <menu-mobile></menu-mobile>
	<menu-mobile></menu-mobile>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
			<div class="header__title">
				<p>Sala de Aula<p>
			</div>
			</div>
			<class-room></class-room>
		</div>
	</div>

{% endblock %}
