{% extends 'index.njk' %}

{% block title %}Course Update{% endblock %}
{% block headIncludes %}
	<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
	<script>
		tinymce.init({
			selector: '.tiny-text-area'
		})
	</script>
{% endblock %}
{% block content %}
	<account></account>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
				<div class="header__title">
					<p>Atualização de curso<p>
				</div>
			</div>
			<course-update course-id="{{courseId}}"></course-update>
		</div>
	</div>

{% endblock %}
