{% extends 'index.njk' %}
{% block headIncludes %}
	<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
	<script>
		tinymce.init({
			selector: '.tiny-text-area'
		})
	</script>
{% endblock %}
{% block title %}Formulário do curso{% endblock %}

{% block content %}
	<account></account>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
			<div class="header__title">
				<p>Cadastro de curso<p>
			</div>
			</div>
			<course-form></course-form>
		</div>
	</div>

{% endblock %}
