{% extends 'index.njk' %}

{% block headIncludes %}
	<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
	<script>
		tinymce.init({
			selector: '.tiny-text-area'
		})
	</script>
{% endblock %}

{% block title %}Lista de cursos{% endblock %}

{% block content %}
	<account></account> <menu-mobile></menu-mobile>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
			<div class="header__title">
				<p>Lista de cursos<p>
			</div>
			</div>
			<course-list></course-list>
		</div>
	</div>

{% endblock %}
