{% extends 'index.njk' %}
{% block headIncludes %}
<script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
<script>
	tinymce.init({
		selector: '.tiny-text-area'
	})
</script>
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<Dashboard></Dashboard>
{% endblock %}
