{% extends 'index.njk' %}
{% block title %}Blog Iap{% endblock %}
{% block content %}
<div class="home">
		<!-- Navigation -->
	<nav class="navbar navbar-default navbar-custom">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a href="index.html">Home</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- Page Header -->
	<header class="home__header">
		{# <img src="/images/wall1.jpeg" alt=""> #}
		<slider></slider>
	</header>

	<!-- Main Content -->
	<div class="home__posts container">
		<post></post>
	</div>
	<hr>

	<!-- Footer -->
	<footer>

	</footer>
</div>
{% endblock %}
