{% extends 'index.njk' %}
{% block title %}Post{% endblock %}
{% block content %}

<div class="single-post">
    <div class="container single-post__content">
        <single-post post-id="{{postId}}"></single-post>
    </div>
</div>
{% endblock %}
