{% extends 'index.njk' %}

{% block title %}Times{% endblock %}

{% block content %}
	<account></account>
	<div class="base-page">
		<div class="base-page__menu">
			{% include "includes/menu.njk" %}
		</div>
		<div class="base-page__content">
			<div class="base-page__content__header">
			<div class="header__title">
				<p>Times<p>
			</div>
			</div>
			<team></team>
		</div>
	</div>

{% endblock %}
